#panel {
  text-align: right;
  height: 80px;
  font-size: 26px;
  background-color: white;
}

#panel:hover {
  cursor: col-resize;
}

.bttn {
  margin-bottom: 8px;
  border: 1px solid black;
  width: 100px;
  height: 45px;
  font-size: 22px;
  margin-right: 10px;
}

.bttne {
  width: 150px;
  margin-top: 10px;
  margin-right: 30px;
}

.navbar {
  font-size: 18px;
  font-weight: 700;
}
.navbar a {
  color: rgb(241, 241, 241) !important;
  padding-left: 10px !important;
}
hr {
  border-top: 4px solid #a6a6a6 !important;
}
@media only screen and (max-width: 535px) {
  .bttn {
    margin-bottom: 8px;
    border: 1px solid black;
    width: 50px;
    height: 45px;
    font-size: 22px;
    margin-right: 4px;
  }
  .bttne {
    width: 100px;
    margin-top: 5px;
    margin-right: 30px;
  }
}
@media only screen and (max-width: 336px) {
  .bttn {
    margin-bottom: 8px;
    border: 1px solid black;
    width: 40px;
    height: 45px;
    font-size: 15px;
    margin-right: 10px;
  }
  .bttne {
    width: 50px;
    margin-top: 3px;
    margin-right: 3px;
  }
}

@media only screen and (max-width: 600px) {
  .table td,
  .table th {
    font-size: 12px !important;
    padding: 5px 1px !important;
  }
  .mobile {
    width: 60px !important;
  }
  .h1,
  h1 {
    font-size: 1.5rem;
  }
  .bttne {
    width: 65px;
    margin-top: 5px;
    margin-right: 14px;
  }
  .mobileNav {
    padding-top: 0px !important;
  }
}

.sidenav {
  height: 100%;
  width: 23%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  display: block;
}
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 10px 35px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;

  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

.sidenav > ul > li > a {
  padding: 10px 8px 10px 32px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav ul {
  text-decoration: none;
  list-style-type: none;
}
.sidenav ul li > .active {
  color: black;
  background-color: white;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .sidenav {
    display: none;
  }
  .mobileNav {
    width: 100%;
    height: auto;
    position: relative;
    transition: all 0.4s;
    display: block;
  }
  .mobileNav > ul > li > a {
    padding: 10px 8px 10px 14px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .mobileNav ul {
    text-decoration: none;
    list-style-type: none;
  }
  .mobileNav ul li {
    text-align: center;
  }
  .mobileNav ul li > .active {
    color: black;
    background-color: white;
    font-weight: bold;
    margin-right: 18px;
  }
  .mobileNav ul li a {
    text-align: center;
    float: none;
  }

  #mobile-nav-toggle {
    display: block;
  }
}
.card {
  padding: 2rem;
  background-color: rgb(241, 241, 241);
  border: 2px black solid;
}

.swap {
  font-weight: bold;
  cursor: pointer;
}
